@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    background-color: #eee;
}

p{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    /* VW (Viewport Width) sets the font/text size based on the width of the veiwport (AKA Browser Window) */
    font-size: 2vw;

    text-align: center;
    border-bottom: 5px solid #ccc;
    padding-bottom: 10px;


}
   img{ 
    /* Width of two images */
    /* 22.5 * 2 = 45 */
    width: 22.5%;
    /* Width between two images (Margin) */
    margin: 1.25%;
    /* 1.25 * 2 = 2.5 */
   
    /* The float CSS property places an element on the left or right side of its container/parent allowing text and inline elements to wrap around it. The element is removed from the normal document flow. Also, removes the "myster space" between image elements (NOTE: This "myster space" is the actual spaces between img elements in an html file)*/
 
    float: left;
   }






